@import url('https://fonts.googleapis.com/css?family=Montez|Pangolin');

body {
  background-color: #E1E3DD;
}

nav {
  display: block;
  position: relative;
}

nav:after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  background: linear-gradient(90deg, 
    #CDE0EE, #CDE0EE 20%,
    #EBF0F3 20%, #EBF0F3 40%, 
    #9BB0C1 40%, #9BB0C1 60%, 
    #5D8BAD 60%, #5D8BAD 80%,
    #041E34 80%, #041E34 100%);
}

ul {
  width: 660px;
  margin: 0 auto;
  padding-left: 0;
  list-style: none;
  overflow: hidden;
}

li {
  float: left;
  width: 25%;
}

a {
  text-decoration: none;
  text-align: center;
  display: block;
  color: #868686;
  padding: 0.5em 0;
  font-size: 1.5em;
  font-weight: bold;
  transition: 0.5s ease-in-out;
  font-family: 'Montez', cursive;
}

a:hover {
  color: #f70211;
}

table {
  border-spacing: 0 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
th {
  padding: 10px 20px;
  background: #56433D;
  color: #F9C941;
  border-right: 2px solid; 
  font-size: 0.9em;
}
th:first-child {
  text-align: left;
}
th:last-child {
  border-right: none;
}
td {
  vertical-align: middle;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  border-top: 2px solid #56433D;
  border-bottom: 2px solid #56433D;
  border-right: 2px solid #56433D
  border-left: 2px solid #56433D;
}
td:first-child {
  border-left: 2px solid #56433D;
  border-right: 2px solid #56433D;
}
td:nth-child(2){
  text-align: left;
}
